
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <h1> Hi baby girl, I'm sorry you're having a bad day! </h1> <br/>
    
  </div>
    <%= link_to 'Log your bad day', new_tracker_path, class: 'btn btn-danger col-xs-4 col-xs-offset-4' %>
